// Fonts
@import url("https://fonts.googleapis.com/css?family=Alata:wght@300");

// Variables
@import "variables";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Alata';
    font-size: 18px;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
}

a,
a:hover {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}

.hidden {
    display: none;
}

.note {
    font-size: 16px;
    font-style: italic;
}

.navbar__wrapper {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar__border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    margin-right: auto;
}

.page__wrapper {
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__item {
    padding: 5 15px;
    margin: 0 8px;
    cursor: pointer;
    .menu__item--fixed {
        display: none;
    }
}

.menu__item.active {
    color: #e2cd6d;
}

.menu.fixed {
    display: block;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.25s ease;
    .menu__item {
        display: none;
    }
    .menu__item--fixed {
        display: block;
        height: 50px;
        width: 50px;
        background-color: #fb3;
        background-image: url(../../public/imgs/icon-mobile-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.toggle {
        padding: 15px 40px 15px 15px;
        background-color: #fb3;
        color: #ffffff;
        // border: 1px solid #ccc;
        .menu__item {
            display: block;
        }
        .menu__item--fixed {
            background-color: #fff;
            background-image: url(../../public/imgs/icon-mobile-close.svg);
        }
    }
}

.sub-menu {
    display: none;
}

.logo {
    width: 80px;
    height: 80px;
}

.bread-cum {
    margin: 15px 0;
    margin-left: 30px;
    color: #bbbbbb;
    a:hover {
        color: #333333;
    }
}

h1.section__title {
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(0deg, #ff8a00, #e52e71);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.section {
    min-height: 100vh;
    clear: both;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -50px;
        z-index: 1;
        background-color: transparent;
        background-image: url(../../public/imgs/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: center 10px;
        height: 100px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        cursor: pointer;
    }
    &.amination--text {
        .section__title {
            transition: all 1s ease;
            transform: translateX(0);
            opacity: 1;
        }
    }
    .section__title {
        transform: translateX(-300px);
        opacity: 0;
        transition: all 1s ease;
    }
    &__wrapper {
        min-height: 100vh;
    }
    &__border {
        padding: 80px 0 80px 0;
        width: 80%;
        min-height: 100%;
        margin: 0 auto;
        max-width: 1256px;
    }
    &__home {
        height: 100vh;
        background-image: url(../../public/imgs/getting-img.png);
        background-size: 400px;
        background-position: 20% center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    &__about {
        z-index: 2;
        &::before {
            background-color: #f2d984;
        }
        position: relative;
        background-color: #f2d984;
        
        .item__absolute {
            position: absolute;
            content: "";
            width: 200px;
            height: 200px;
        }
        .section__content {
            margin-bottom: 40px;
        }

        .btn {
            border: 1px solid #000000;
            padding: 8px 15px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-bottom: 60px;
        text-align: center;
    }
    &__blogs {
        z-index: 3;
        background-color: #000000;
        color: #fff;
        &::before {
            background-color: #000000;
        }
    }
    &__blogs .tags {
        padding: 5px 15px;
        border: 1px solid #ccc;
        line-height: 1;
        font-size: 14px;
        margin: 5px;
    }
    &__contact {
        background-color: rgb(240, 240, 214);
        z-index: 4;
        &::before {
            background-color: rgb(240, 240, 214);
            color: #000000;
        }
        // background-image: url(../../public/imgs/form-bg.svg);
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;
        // max-width: 800px;
        margin: 0 auto;
    }

    &__sub-title {
        text-align: center;
    }
    &__post-content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 15px;
    }

    &__tags {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }

    &__tags a {
        font-size: 14px;
        padding: 3px 8px;
    }

    &:first-child {
        margin-bottom: 0;
        padding-top: 0;
    }
    &:last-child {
        min-height: calc(100vh - 150px);
        .section__border {
            min-height: auto;
        }
    }

    &__posts--all {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 70% 30%;
        grid-column-gap: 30px;
        .section__post-content {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.post-detail__title {
    text-align: center;
}

.post {
    &__item {
        padding: 15px;
        border: 1px solid #fff;
    }

    &__title,
    &__title:hover {
        font-size: 24px;
        font-weight: 700;
    }

    &__exceprt {
        margin: 10px 0;
    }
    &__tags {
        span {
            margin-right: 10px;
        }
    }
    &__feature a {
        cursor: pointer;
    }
}

.category__wrapper,
.posts--popular {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

.nav-side{
    &__wrapper {
        width: 100%;
        place-self: flex-end;
    }
    &__label {
        display: block;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding-bottom: 5px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 80px;
            background: linear-gradient(90deg,#ff8a00,#e52e71);
        }
    }
}

.posts--popular {
    .post__item {
        padding: 5px;
        border: none;
        border-bottom: 0.5px solid rgba($color: #ffffff, $alpha: 0.8);
        margin-bottom: 5px;
        &:last-child {
            border-bottom: none;
        }
        .post__title, .post__title:hover {
            font-weight: 400;
            font-size: 16px;
        }
        .post__tags {
            font-size: 14px;
        }
    }
}

.category__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    &__item {
        margin-right: 50px;
    }
}

.btn,
.btn:hover {
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}

.btn-show-reply,
.btn-show-reply:hover {
    background-color: transparent;
    border: none;
    color: #fb3;
}

.btn-submit {
    float: right;
}

.btn-submit,
.btn-submit:hover {
    color: #fff;
    background: #fb3;
    padding: 8px 15px;
}

.btn-show-all {
    padding: 5px 15px;
    border: 1px solid #fff;
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: -15px;
    color: #fff;
}

.content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-end;
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    height: 100%;
}
.getting__img img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.getting__desc {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #f2d984;
}

.getting__text {
    font-size: 3.5rem;
}

.getting__sub-text {
    font-size: 1.6rem;
}

.feature {
    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &__label {
        margin-bottom: 20px;
    }

    &__item {
        text-align: center;
        padding: 20px;
        border: 1px solid #000000;
        img {
            width: 80px;
        }
    }
    &__introduce {
        margin-bottom: 40px;
    }
}

.form {
    &__contact {
        display: block;
        margin: 0 auto;
        padding: 35px 0;
        text-align: center;
        width: 500px;
        &::after {
            clear: both;
        }

        input,
        textarea {
            border: 1px solid #ccc;
            border-radius: 0;
        }
        input:focus,
        textarea:focus {
            outline: none;
            border-color: #000000;
        }
    }

    &__contact label {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.25s ease;
    }

    &__contact .form-group {
        position: relative;
    }
    &__input-field {
        width: 100%;
        padding: 5px 15px;
    }

    &__input-field + label {
        opacity: 0;
    }
    &__input-field:not(:placeholder-shown) + label {
        opacity: 1;
        top: 0;
        font-size: 12px;
        background: #fff;
        padding: 0 5px;
    }

    &__comment {
        margin-bottom: 1.5rem;
    }
}

@keyframes btnBounce {
    0%,
    100% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(5px);
    }
}

.btn-top {
    position: fixed;
    z-index: 999;
    bottom: 50;
    right: 10;
    border: none;
    background-color: #fb3;
    border-radius: 50%;
    padding: 10px;
    img {
        animation: btnBounce 2s infinite;
    }
    &:focus {
        outline: none;
    }
}

.contact__item {
    display: inline-block;
    margin: 0 15px;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contact__item:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.footer__wrapper {
    text-align: center;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-image: -webkit-gradient(
    //     linear,
    //     left bottom,
    //     left top,
    //     from(#e2cd6d),
    //     to(#f2e9bf)
    // );
    background-image: linear-gradient(to top, #e2cd6d, #f2e9bf);
    position: relative;
    z-index: 6;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     z-index: 1;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     background: linear-gradient(to top, #e2cd6d, #f2e9bf);
    //     border-radius: 0 0 50% 50%/100% 100% 0 0;
    // }
}

.form-control {
    border-radius: 0;
}

.display-comment {
    clear: both;
    form {
        display: none;
    }

    .display-comment {
        margin-left: 40px;
    }
}

.madatory_star {
    color: rgb(207, 33, 27);
}

.comment {
    &__line {
        display: flex;
        align-items: center;
    }
    &__avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    &__name {
        margin: 0 50px 0 15px;
        font-weight: 700;
    }
}

// temp

.slick-prev,
.slick-dots,
.slick-next {
    display: none !important;
}

// Backend Style

.bootstrap-tagsinput .tag {
    background-color: #33b5e5;
    border-radius: 4px;
    padding: 2px 4px;
}

.admin-dashboard {
    &__container {
        background-color: #eee;
        min-height: calc(100vh - 150px);
    }
    &__wrapper {
        display: grid;
        max-width: 85%;
        margin: 0 auto;
        // grid-gap: 5px;
        grid-template-rows: 250px auto;
        grid-template-columns: 200px auto;
    }
}

.main-thread__wrapper {
    grid-column: 1/3;
    display: grid;
    width: 100%;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    place-self: center;
    .title {
        grid-column: 1/5;
        text-align: center;
    }
}

.feature {
    &__rectangle {
        background-color: #ffffff;
        // border: 1px solid #ccc;
        width: 100%;
        height: auto;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__label {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
    }
}

.side-menu__wrapper {
    border-top: 2px solid #e2cd6d;
}

.main-panel__wrapper {
    background-color: #ffffff;
    overflow: hidden;
    min-height: 100vh;
}

.add-new {
    &__wrapper {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 30px;
        transition: all 0.5s ease;
    }
    &__wrapper.active {
        left: 0;
    }
}

@media (min-width: 668px) and (max-width: 1119px) {
    .page__wrapper {
        width: 90%;
    }

    .section__home {
        background-size: 300px;
    }
    
    .getting {
        &__desc {
            width: 40%;
            
        }
        &__text {
            font-size: 2.5rem;
        }
        &__sub-text {
            font-size: 1.2rem;
        }
    }

    .feature__blocks {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 667px) {
    .page__wrapper {
        width: 100%;
    }

    .content {
        &__wrapper {
            flex-direction: column-reverse;
            top: 20%;
            transform: translateY(-20%);
        }
        &__item {
            width: 100%;
        }
    }

    .getting {
        &__text {
            font-size: 2.5rem;
        }

        &__desc {
            margin-bottom: 40px;
            top: 20%;
            text-align:center;
        }

        &__sub-text {
            font-size: 20px;
        }
    }

    .section {
        &__title {
            font-size: 2.5rem;
            margin-bottom: 15px;
        }
        &__post-content {
            grid-template-columns: 1fr;
        }
        &__home {
            background-attachment: initial;
            background-position: bottom 35% right 50%;
            background-size: 300px;
        }
    }

    .feature__blocks {
        grid-template-columns: 1fr;
    }
    .form__contact {
        width: 80%;
    }

    .section__border {
        width: 85%;
        padding-top: 40px;
    }

    .btn-show-all {
        margin-right: 0;
    }

    .contact__item {
        height: 35px;
        width: 35px;
    }

    .footer__trademark {
        font-size: 15px;
    }

    .post__title, .post__title:hover {
        font-size: 20px;
    }

    .post__tags {
        font-size: 14px;
    }
    
}


